---
import Layout from '../layouts/Layout.astro'
---

<Layout
	title="About This Database | Growth of a Movement: The BDS campaign for Palestinian justice"
	description="This database was built by Visualizing Palestine with help from allies around the world."
	currentUrl="/about"
	bgColor="white"
>
	<div class="bg-white text-black">
		<h1 class="text-3xl font-bold">About</h1>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
	</div>
</Layout>
