---
import Layout from '../layouts/Layout.astro'
import SvgArrowRight from '../images/arrow-right.svg'
import SvgVPLogo from '../images/vp-logo.svg'
---

<Layout
	title="About This Database | Growth of the BDS Movement for Palestine"
	description="The purpose, scope and limitations of this project, built by Visualizing Palestine."
	currentUrl="/about"
	bgColor="white"
>
  <div
    class="bg-yellow overflow-hidden"
    style="clip-path: url(#hero-bottom-cutout);"
  >
    <div class="max-w-4xl mx-auto pt-8 3xl:max-w-6xl">
      <img
        src="/about-illustration.png"
        class="w-full h-auto"
      />
    </div>
  </div>
  <main class="
    px-4 my-12 flex flex-col gap-12 max-w-2xl mx-auto
    xl:max-w-4xl xl:py-24
    3xl:max-w-6xl
  ">
    <section>
      <h1 class="text-3xl font-black text-blue 3xl:text-4xl">About this site</h1>
      <div class="
        flex flex-col gap-6
        xl:grid xl:grid-cols-2 xl:gap-16 xl:items-start
        3xl:mt-1 3xl:gap-24
      ">
        <p class="prose prose-lg leading-snug 3xl:prose 3xl:prose-xl 3xl:leading-snug">
          Growth of a Movement is a project of <a href="https://visualizingpalestine.org">Visualizing Palestine</a>. If you have questions about the content, spot a factual error that requires correction, or believe an event should be added to the timeline, please don’t hesitate to <a href="https://visualizingpalestine.org/contact-us/">reach out to us</a>.
        </p>
        <a
          href="https://visualizingpalestine.org"
          class="
            p-6
            flex justify-between items-center
            bg-blue text-white
            overflow-hidden
            transition-all
            hover:-translate-y-1
            hover:-rotate-1
            hover:bg-red
            focus-visible:bg-red
            3xl:p-8
          "
          style="clip-path: url(#panel-bg-1)"
        >
          <div class="flex flex-col items-start">
            <span class="text-sm uppercase leading-tight 3xl:text-lg">
              Visit
            </span>
            <span class="text-xl font-bold leading-tight 3xl:text-2xl">
              Visualizing Palestine's Website
            </span>
          </div>
          <SvgArrowRight class="shrink-0 w-8 h-8 3xl:w-12 3xl:h-12" />
        </a>
      </div>
    </section>
    <section class="xl:max-w-md">
      <h2 class="text-2xl font-black text-blue 3xl:text-3xl">Purpose</h2>
      <p class="prose prose-lg leading-snug 3xl:prose 3xl:prose-xl 3xl:leading-snug">
        This timeline was created to document some of the significant actions, events, and campaigns that have shaped the growth of the Boycott, Divestment, and Sanctions (BDS) movement around the world, and allow users to browse and explore this information.
      </p>
    </section>
    <section class="xl:max-w-md">
      <h2 class="text-2xl font-black text-blue 3xl:text-3xl">Scope</h2>
      <p class="prose prose-lg leading-snug 3xl:prose 3xl:prose-xl 3xl:leading-snug">
        Events on this timeline vary from small symbolic steps to major campaign victories. This timeline does not claim to capture all instances or events of BDS organizing around the world, but provides a selection of significant moments that are illustrative of the impact of the movement.
      </p>
    </section>
    <section>
      <h2 class="text-2xl font-black text-blue 3xl:text-3xl">Limitations</h2>
      <p class="prose prose-lg leading-snug 3xl:prose 3xl:prose-xl 3xl:leading-snug">
        The following are known limitations of our content:
      </p>
      <ul class="
        mt-6 flex flex-col gap-6
        xl:grid xl:grid-cols-2 xl:gap-16
        3xl:gap-24
      ">
        <li>
          <p class="prose prose-lg leading-snug 3xl:prose 3xl:prose-xl 3xl:leading-snug">
            <strong class="inline-block px-2 bg-yellow">Potential geographic skew:</strong> The researchers working on this dataset are primarily English-speaking. Therefore, events covered in languages other than English may be underrepresented in our data. This is an important reason why we use BNC roundup lists as a starting point for determining which events to include on the timeline, as the BNC pays close attention to developments in non-English media.
          </p>
        </li>
        <li>
          <p class="prose prose-lg leading-snug 3xl:prose 3xl:prose-xl 3xl:leading-snug">
            <strong class="inline-block px-2 bg-yellow">Proving causality:</strong> It is not always possible to prove that the BDS movement was the impetus for a particular event or action. Because of ongoing attempts to criminalize, repress, and stigmatize BDS in some countries, there is an incentive for actors to downplay or deny the role of BDS organizing on their actions. The BDS movement does not claim “credit” for events on this timeline, but it acknowledges that these events are consistent with its tactics and campaign goals, and that active BDS campaigns often exist in parallel.
          </p>
        </li>
      </ul>
    </section>
  </main>
  <footer class="my-24 px-8 flex justify-center items-center text-blue">
    <a href="https://visualizingpalestine.org">
      <span class="sr-only">Visualizing Palestine</span>
      <SvgVPLogo class="w-full" aria-hidden="true" />
    </a>
  </footer>
</Layout>