---
import Layout from '../layouts/Layout.astro'
---

<Layout
	title="About This Database | Growth of a Movement: The BDS campaign for Palestinian justice"
	description="This database was built by Visualizing Palestine with help from allies around the world."
	currentUrl="/about"
	bgColor="white"
>
	<div class="
		flex flex-col gap-4 p-4 bg-white text-black m-auto max-w-lg
		md:p-8
		xl:p-12 xl:max-w-2xl xl:text-lg
	">
		<h1 class="text-3xl font-bold xl:text-4xl">About this site</h1>
		<p>Explore the actions that have shaped the Palestinian-led, global Boycott, Divestment, and Sanctions (BDS) movement for freedom, justice, and equality.</p>
		<p>Explore the actions that have shaped the Palestinian-led, global Boycott, Divestment, and Sanctions (BDS) movement for freedom, justice, and equality.</p>
		<p>Explore the actions that have shaped the Palestinian-led, global Boycott, Divestment, and Sanctions (BDS) movement for freedom, justice, and equality.</p>
		<p>Explore the actions that have shaped the Palestinian-led, global Boycott, Divestment, and Sanctions (BDS) movement for freedom, justice, and equality.</p>
	</div>
</Layout>
