---
import Layout from '../layouts/Layout.astro'
---

<Layout
	title="All Data | Growth of a Movement: The BDS campaign for Palestinian justice"
	description="Search, filter and analyze all events in our dataset on the growth of the Boycott, Divestment, and Sanctions (BDS) movement for Palestinian justice."
	currentUrl="/data"
	bgColor="white"
>
	<div class="bg-white text-black">
		<h1 class="text-3xl font-bold">Dataset</h1>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
		<p>1234</p>
	</div>
</Layout>
