---
import AppData from '../components/AppData.vue'
import Layout from '../layouts/Layout.astro'
import filters from '../data/filters.json'
import { columns, rows, ticks } from '../data/chart-config.json'
---

<Layout
	title="All Data | Growth of a Movement: The BDS campaign for Palestinian justice"
	description="Search, filter and analyze all events in our dataset on the growth of the Boycott, Divestment, and Sanctions (BDS) movement for Palestinian justice."
	currentUrl="/data"
	bgColor="white"
>
	<h1 class="sr-only">Full Dataset</h1>
	<AppData
		client:only="vue"
		chartColumns={columns}
		chartRows={rows}
		chartTicks={ticks}
		filters={filters}
	/>
</Layout>
