---
import Layout from '../layouts/Layout.astro'
import Story from '../components/Story.vue'
import { dateStart, dateEnd, months } from '../data/chart-config.json'
import story from '../data/story-student-movement'
---

<Layout
	title="Growth of a Movement: The BDS campaign for Palestinian justice"
	description="Explore the actions that have shaped the Palestinian-led Boycott, Divestment, and Sanctions (BDS) movement for freedom, justice, and equality."
	currentUrl="/"
	bgColor="black"
>
	<div class="
      h-screen
      h-svh
      pt-(--header-height)
      flex
      flex-col
      bg-black
      text-white
    "
  >
    <div
      class="
        grid
        grid-cols-12
        p-4
        bg-grey-dark
        sm:py-8
        xl:px-8
      "
    >
      <div class="col-span-9 flex flex-col">
        <span class="sr-only 2xl:not-sr-only text-sm leading-tight uppercase">
          Growth of a
        </span>
        <span class="text-2xl leading-tight font-black">
          Student Movement
        </span>
      </div>
    </div>
    <div class="grow overflow-scroll scroll-smooth">
      <Story
        client:load
        dateStart={dateStart}
        dateEnd={dateEnd}
        months={months}
        story={story}
      />
    </div>
	</div>
</Layout>
