@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-black: #000;
  --color-white: #fff;
  --color-grey-dark: #222;
  --color-red-light: #FFE9E9;
  --color-red: #FF7474;
  --color-red-bright: #FF1E1E;
  --color-red-dark: #4E2929;
  --color-yellow: #FFCC00;

  --breakpoint-3xl: 120rem;

  --font-sans: "effra", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

:root {
  --color-chart: var(--color-red);
  --color-chart-dim: var(--color-red-dark);
  --color-chart-story: var(--color-yellow);
  --color-chart-story-current: var(--color-black);

  --header-height: 4rem;
}

@media (min-width: 120rem) {

  :root {
    --header-height: 5rem;
  }
}