@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-black: #000;
  --color-white: #fff;
  --color-grey-dark: #222;
  --color-red-light: #FFE9E9;
  --color-red: #FF7474;
  --color-red-bright: #FF1E1E;
  --color-red-dark: #4E2929;
  --color-yellow: #FFCC00;
  --color-white-alpha-100: rgba(255, 255, 255, 0.1);
  --color-white-alpha-200: rgba(255, 255, 255, 0.2);
  --color-white-alpha-300: rgba(255, 255, 255, 0.3);
  --color-white-alpha-400: rgba(255, 255, 255, 0.4);
  --color-white-alpha-500: rgba(255, 255, 255, 0.5);
  --color-black-alpha-100: rgba(0, 0, 0, 0.1);
  --color-black-alpha-200: rgba(0, 0, 0, 0.2);
  --color-black-alpha-300: rgba(0, 0, 0, 0.3);
  --color-black-alpha-400: rgba(0, 0, 0, 0.4);
  --color-black-alpha-500: rgba(0, 0, 0, 0.5);

  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 160rem;

  --font-sans: "effra", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

:root {
  --color-chart: var(--color-red);
  --color-chart-dim: var(--color-red-dark);
  --color-chart-story: var(--color-yellow);
  --color-chart-story-current: var(--color-black);

  --header-height: 4rem;
}

@media (min-width: 120rem) {

  :root {
    --header-height: 5rem;
  }
}

.font-medium strong {
  font-weight: 900;
}