---
import Layout from './Layout.astro'
const { frontmatter } = Astro.props
---

<Layout
	title={frontmatter.title}
	description={frontmatter.description}
	currentUrl={frontmatter.currentUrl}
	bgColor={frontmatter.bgColor}
>
  <div class="
    p-4 mx-auto my-4 max-w-lg
		md:p-8
		xl:p-12 xl:max-w-2xl
  ">
    <div class="
      prose prose-lg
      prose-h1:text-3xl
      prose-h2:text-2xl
      prose-h3:text-xl
      prose-h4:text-lg
    ">
      <slot />
    </div>
  </div>
</Layout>